/* Variables */
:root {
    --dark-grey: #2B2D42;
    --light-grey: #8D99AE;
    --lighter-grey: #EDF2F4;
    --dark-red: #D90429;
    --light-red: #EF233C;
    --white: #FFF;
    --black: #000;
    --heading-font: 'Playfair Display', serif;
    --body-font: 'Source Sans Pro', sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: var(--body-font);
}

html,
body {
    height: 100%;
}

/*HEADER START*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--lighter-grey);
    height: 100px;
}

.h__img {
    height: 60px;
    margin: 1rem;
}

/*START hamburgerURGER BUTTON*/
#h__side-menu {
    display: none;
}

.h__hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 1rem;
}

.h__bars__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 35px;
    z-index: 3;
}

.h__bars__container:hover {
    cursor: pointer;
}

.h__bar {
    position: relative;
    display: block;
    height: 4px;
    margin-top: -12px;
    border-radius: 5px;
    transition: .5s;
    background-color: var(--dark-grey);
}

.h__bar:nth-child(1) {
    transform-origin: 0%;
}

.h__bar:nth-child(4) {
    transform-origin: 0%;
}

#h__side-menu:checked~.h__nav {
    max-height: 100%;
    transition-delay: 0s;
}

#h__side-menu:checked+.h__hamburger>.h__bars__container>.h__bar:nth-child(1) {
    transform: rotate(45deg);
    height: 4px;
    width: 42px;
}

#h__side-menu:checked+.h__hamburger>.h__bars__container>.h__bar:nth-child(2) {
    transform: rotate(-45deg);
    height: 4px;
    background-color: transparent;
}

#h__side-menu:checked+.h__hamburger>.h__bars__container>.h__bar:nth-child(3) {
    transform: rotate(45deg);
    height: 4px;
    background-color: transparent;

}

#h__side-menu:checked+.h__hamburger>.h__bars__container>.h__bar:nth-child(4) {
    transform: rotate(-45deg);
    height: 4px;
    width: 42px;
}

#h__side-menu:checked~.h__nav .h__nav__menu li {
    opacity: 1;
    transition-delay: .5s;
}

/* Navigation menu */
.h__nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--dark-grey);
    background-color: var(--lighter-grey);
    text-align: center;
    max-height: 0;
    transition: max-height .5s ease-out;
    z-index: 2;
}

.h__nav__menu {
    list-style-type: none;
    margin-top: 10em;
}

.h__nav__menu li {
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
    margin: 30px;
}

.h__nav__menu a {
    display: block;
    cursor: pointer;
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

/*HEADER END*/

/* BUTTONS */
.btn {
    padding: 0.5em 1em;
    font-size: 1em;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.btn--primary {
    color: var(--white);
    background-color: var(--dark-red);
    border: 1px solid var(--dark-red);
}

.btn--primary:hover {
    color: var(--dark-red);
    background-color: var(--white);
}

/* MAIN */
/* .main {
    min-height: 100%;

} */

/* HERO START */
.section--hero {
    position: relative;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-size: 2em;
}

.hero__text h1 {
    display: inline-block;
    align-self: center;
    width: fit-content;
    padding: 0 1rem;
    margin-top: 5px;
    color: var(--white);
    font-family: var(--body-font);
}

#hero-text-line1 {
    background-color: var(--dark-grey);
    opacity: 0.65;
}

#hero-text-line2 {
    background-color: var(--dark-grey);
    opacity: 0.65;
}

#hero-text-line3 {
    background-color: var(--dark-red);
    margin-top: 3px;
    opacity: 0.65;
}

/* HERO END */


/* ABOUT SECTION START */
.section--about {
    text-align: center;
    background-color: var(--lighter-grey);
    padding: 1rem;
}

.a__title {
    font-family: var(--heading-font);
    font-size: 2em;
}

.a__text {
    font-family: var(--body-font);
    line-height: 1.5em;
}

/* ABOUT SECTION END */

/* EXERCISES SECTION START */

.section--exercises {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 1.5rem;
}

.e__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid var(--lighter-grey);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.e__card__img {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;

}

.e__card__text, .e__card__title {
    margin-bottom: 1rem;
}

.btn--right {
    align-self: flex-end;
}

/* EXERCISES SECTION END */

/* START TEAM SECTION */
.section--team {
    margin: 1rem;
}

.t__heading {
    padding: 0.5rem;
    font-family: var(--heading-font);
    color: var(--dark-red);
    text-align: center;
}

.t__container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(6, 1fr);
    margin: 0.5rem;
}

.t__card {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--lighter-grey);
    border: 1px solid var(--lighter-grey);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.t__card:nth-child(4) {
    grid-column: 2/4;
}

.t__card:nth-child(5) {
    grid-column: 4/6;
}

.t__card__img {
    height: 80px;
    width: auto;
    margin: 0.5rem;
    border-radius: 50%;
    filter: grayscale(80%);
}

.t__card__img:hover {
    filter: grayscale(0%);
}

.t__card__title {
    padding: 0.5rem 0;
    font-size: 1rem;
    text-align: center;
}

.t__card__links {
    display: flex;
    align-items: flex-end;
}

.t__card__links a {
    padding: 0 0.2rem;
}

.t__card__links .fa-brands {
    color: var(--dark-grey);
}

.t__card__links .fa-brands:hover {
    color: var(--light-red);
}

/* END TEAM SECTION */


/*FOOTER START*/
.clear {
    clear: both;
    height: 150px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--lighter-grey);
    box-shadow: 10px 10px 20px 10px rgb(0 0 0 / 0.2);
}

.f__links__container {
    display: flex;
    justify-content: center;
}

.f__link {
    padding: 1rem 0.5rem;
}

.f__icon {
    color: var(--dark-grey);
}

.f__icon:hover {
    color: var(--light-red);
}

.f__text {
    text-align: center;
    padding-bottom: 1px;
}

/*FOOTER END*/