/*MAIN SECTION*/
.main {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 1.5rem;
}

.e__card {
    justify-self: center;
}

.e__card--hidden {
    display: none;
}

.e__card__text, .e__card__title {
    margin-top: 1rem;
}

.fa-pause, .fa-stop {
    color: var(--white)
}

.fa-pause:hover {
    color: var(--dark-grey)
}

.fa-stop:hover {
    color: var(--dark-grey)
}

/* iframe {
    width: auto;
    height: 400px;
}

iframe, .e__card__text {
    margin: 1.4rem 1.4rem;
} */

@media screen and (min-width: 590px) {
    .e__card {
        width: 50vw;
    }

    iframe {
        height: 315px;
        width: auto;
    }
}